
/* Importuri de fonturi și stiluri generale */
@import url('https://fonts.googleapis.com/css?family=Abel|Alegreya|Dosis');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif; /* Font general */
}
