/* styles.css */
.mat-mdc-menu-panel.custom-menu {
  background-color: #410078; /* Culoarea de fundal dorită */
  animation: fadeIn 0.4s; /* Schimbă durata după preferințe */
  width: 185px;
  overflow-x: hidden;
  overflow-scrolling: unset;

}

.mat-mdc-menu-panel.custom-menu.submeniu {
  margin-top:12px;
  margin-left: -5px;
  background-color: #410078; /* Culoarea de fundal dorită */
  animation: fadeIn 0.4s; /* Schimbă durata după preferințe */
  width: 250px;
  overflow-x: hidden;
  overflow-scrolling: unset;
}

.mat-mdc-menu-item.mat-menu-customize-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.mat-mdc-menu-item.mat-menu-customize-item {
  overflow-x: hidden;
  overflow-scrolling: unset;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; /* Aplică fontul Montserrat */
  font-size: 1.2em; /* Mărește dimensiunea fontului */
  color: white;
  text-align: center;
  display: block;
  animation: fadeIn 0.4s; /* Schimbă durata după preferințe */
}

