<body>
<mat-card>
  <mat-card-content style="font-family: 'Montserrat', sans-serif;">
    <form (ngSubmit)="formSubmit()" [formGroup]="registerForm" class="login-form">
      <h2>Register</h2>
      <p>register here to create your account</p>

      <!-- Username -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>person</mat-icon>
          Username
        </mat-label>
        <input [(ngModel)]="user.username" formControlName="username"
               matInput placeholder="Username"/>
        <button mat-icon-button matSuffix (click)="user.username=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          Password
        </mat-label>
        <input [(ngModel)]="user.password" formControlName="password"
               matInput type="password" placeholder="Password"/>
        <button mat-icon-button matSuffix (click)="user.password=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>




      <!-- First name -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>face</mat-icon>
          First Name
        </mat-label>
        <input [(ngModel)]="user.firstName" formControlName="firstname"
               matInput placeholder="First name"/>
        <button mat-icon-button matSuffix (click)="user.firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Last name -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>face</mat-icon>
          Last Name
        </mat-label>
        <input [(ngModel)]="user.lastName" formControlName="lastname"
               matInput placeholder="Last name"/>
        <button mat-icon-button matSuffix (click)="user.lastName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>email</mat-icon>
          Email
        </mat-label>
        <input [(ngModel)]="user.email" formControlName="email"
               matInput placeholder="Email"/>
        <button mat-icon-button matSuffix (click)="user.email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Phone -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          Phone
        </mat-label>
        <input [(ngModel)]="user.phone" formControlName="phone"
               matInput placeholder="Phone number"/>
        <button mat-icon-button matSuffix (click)="user.phone=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Role Selection -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>User Role for website</mat-label>
        <mat-select formControlName="role">
          <mat-option value="NORMAL USER">Normal User</mat-option>
          <mat-option value="SUPPLIER">Supplier</mat-option>
        </mat-select>
      </mat-form-field>


      <button class="login-button" mat-flat-button type="submit">
        REGISTER
      </button>

      <!-- Login Link -->
      <p style="text-align: center; margin-top: 20px;">
        Have an account? <a routerLink='/login' style="color: #6504B5;">Log in</a>
      </p>

    </form>
  </mat-card-content>
</mat-card>
</body>
