mat-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

body {
  background-color: #EFEEF1;
  padding-top: 20px;
  padding-bottom: 20px;

}

h2 {
  display: block;
  text-align: center;
}

button {
  width: 100%;
  margin-top: 20px;
}

.container {

  display: flex;
  flex-direction: column;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
}

mat-icon {
  margin-right: 8px;
}


p {
  color: #3e403f;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

.custom-mat-form-field {
  position: relative;
  width: 100%;
  max-height: 150px;
}

.custom-mat-form-field input {
  margin-left: 20px;
}

.custom-mat-form-field button {
  right: 0;
  top: 0;
  margin: 12px; /* Ajustează acesta în funcție de nevoi */
}

.login-button {
  background-color: #6504B5;
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%; /* Ocupă întreaga lățime a containerului */
  box-shadow: none; /* Înlătură orice umbre dacă există */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.custom-mat-form-field {
  /* Ajustează înălțimea și padding-ul */
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

.mat-form-field-infix {
  /* Reduce spațiul din interiorul câmpului de formular */
  padding-top: 0;
  padding-bottom: 0;
}

.mat-form-field-label-wrapper {
  /* Ajustează spațiul pentru etichetă */
  top: -5px;
}

.mat-input-element {
  /* Reducerea înălțimii elementului de input */
  height: 40px;
  margin: 0;
}
