@import url('https://fonts.googleapis.com/css?family=Abel|Alegreya|Dosis');
@import url('https://fonts.googleapis.com/css?family=Abel|Alegreya|Dosis');

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background: url('back-ground-login.jpg');
  background-size: cover;
  height: 100vh;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f0ebe6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  z-index: 2;
  width: 450px;
  height: 600px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h2 {
  color: #3e403f;
  margin-bottom: 10px;
  font-size: 30px;
}

header p {
  color: #3e403f;
  font-size: 15px;
}

.mat-form-field {
  width: 100%;
}

button {
  background-color: #a8d5ba;
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, background-color 0.3s;
}

button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #98c9a3; /* Schimbă culoarea la hover */
}
