<mat-card>
  <mat-card-content style="font-family: 'Montserrat', sans-serif;">
    <form (ngSubmit)="save()" class="login-form">
      <h2>Edit Animal Details</h2>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>pets</mat-icon>
          Name
        </mat-label>
        <input [(ngModel)]="editData.name" matInput name="name" placeholder="Enter Animal Name" required/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>calendar_today</mat-icon>
          Age
        </mat-label>
        <mat-select [(ngModel)]="editData.age" name="age">
          <mat-option *ngFor="let age of getAgeOptions(editData.type)" [value]="age">{{age}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>straighten</mat-icon>
          Size
        </mat-label>
        <mat-select [(ngModel)]="editData.size" name="size">
          <mat-option *ngFor="let size of getSizeOptions(editData.type)" [value]="size">{{size}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>texture</mat-icon>
          Coat Length
        </mat-label>
        <mat-select [(ngModel)]="editData.coatLength" name="coatlength">
          <mat-option value="Hairless">Hairless</mat-option>
          <mat-option value="Short">Short</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="Long">Long</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>local_hospital</mat-icon>
          Health
        </mat-label>
        <textarea [(ngModel)]="editData.health" matInput name="health" placeholder="Enter Animal Health"
                  required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width-input">
        <mat-label>
          <mat-icon matPrefix>healing</mat-icon>
          Care
        </mat-label>
        <textarea [(ngModel)]="editData.care" matInput name="care" placeholder="Enter Animal Care" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width-input">
        <mat-label>
          <mat-icon matPrefix>description</mat-icon>
          Description
        </mat-label>
        <textarea [(ngModel)]="editData.description" matInput name="description" placeholder="Enter Animal Description"
                  required></textarea>
      </mat-form-field>

      <div class="button-container">
        <button class="button-class confirm-button-class" mat-button>UPDATE</button>
        <button class="button-class cancel-button-class" mat-button>CANCEL</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
