<body>
<div class="main-container">
  <div class="side-container">
    <form class="search-form">
      <h2>Find Animals by:</h2>
      <div class="filter-group">
        <h3>TYPE</h3>
        <button (click)="applyFilter('type', 'Dog') ; toggleButton('typeDog')"
                [ngClass]="{'pressed': pressedButton ['typeDog'] }" class="button-filter" name="type"
                role="checkbox" value="Dog"> Dog
        </button>
        <button (click)="applyFilter('type', 'Cat')  ; toggleButton('typeCat') "
                [ngClass]="{'pressed': pressedButton ['typeCat']}" class="button-filter" name="type"
                role="checkbox" value="Cat"> Cat
        </button>
      </div>
      <div class="filter-group">
        <h3>AGE</h3>
        <button (click)="applyFilter('age', 'Puppy/Kitten') ; toggleButton('typePuppy/Kitten')"
                [ngClass]="{'pressed': pressedButton ['typePuppy/Kitten'] }" class="button-filter" name="age"
                role="checkbox" value="Puppy/Kitten"> Puppy/Kitten
        </button>
        <button (click)="applyFilter('age', 'Young')  ; toggleButton('typeYoung') "
                [ngClass]="{'pressed': pressedButton ['typeYoung']}" class="button-filter" name="age"
                role="checkbox" value="Young"> Young
        </button>
        <button (click)="applyFilter('age', 'Adult') ; toggleButton('typeAdult')"
                [ngClass]="{'pressed': pressedButton ['typeAdult'] }" class="button-filter" name="age"
                role="checkbox" value="Adult"> Adult
        </button>
        <button (click)="applyFilter('age', 'Senior')  ; toggleButton('typeSenior') "
                [ngClass]="{'pressed': pressedButton ['typeSenior']}" class="button-filter" name="age"
                role="checkbox" value="Senior"> Senior
        </button>
      </div>
      <div class="filter-group">
        <h3>SIZE</h3>
        <button (click)="applyFilter('size', 'Small') ; toggleButton('typeSmall')"
                [ngClass]="{'pressed': pressedButton ['typeSmall'] }" class="button-filter" name="size"
                role="checkbox" value="Small"> Small
        </button>
        <button (click)="applyFilter('size', 'Medium')  ; toggleButton('typeMedium') "
                [ngClass]="{'pressed': pressedButton ['typeMedium']}" class="button-filter" name="size"
                role="checkbox" value="Medium"> Medium
        </button>
        <button (click)="applyFilter('size', 'Large') ; toggleButton('typLarge')"
                [ngClass]="{'pressed': pressedButton ['typLarge'] }" class="button-filter" name="size"
                role="checkbox" value="Large"> Large
        </button>
        <button (click)="applyFilter('size', 'Extra Large') ; toggleButton('typeExtra')"
                [ngClass]="{'pressed': pressedButton ['typeExtra'] }" class="button-filter" name="size"
                role="checkbox" value="Extra Large"> Extra Large
        </button>
      </div>
      <div class="filter-group">
        <h3>GENDER</h3>
        <button (click)="applyFilter('gender', 'Male') ; toggleButton('typeMale')"
                [ngClass]="{'pressed': pressedButton ['typeMale'] }" class="button-filter" name="gender"
                role="checkbox" value="Male"> Male
        </button>
        <button (click)="applyFilter('gender', 'Female')  ; toggleButton('typeFemale') "
                [ngClass]="{'pressed': pressedButton ['typeFemale']}" class="button-filter" name="gender"
                role="checkbox" value="Female"> Female
        </button>
      </div>
      <div class="filter-group">
        <h3>CARE & BEHAVIOR</h3>
        <button (click)="applyFilter('care', 'House trained') ; toggleButton('typeTrained')"
                [ngClass]="{'pressed': pressedButton ['typeTrained'] }" class="button-filter" name="care"
                role="checkbox" value="House trained"> House trained
        </button>
        <button (click)="applyFilter('care', 'Special Needs')  ; toggleButton('typeSpecial') "
                [ngClass]="{'pressed': pressedButton ['typeSpecial']}" class="button-filter" name="care"
                role="checkbox" value="Special Needs"> Special Needs
        </button>
      </div>
      <div class="filter-group">
        <h3>COAT LENGTH</h3>
        <button (click)="applyFilter('coatLength', 'Hairless') ; toggleButton('typeHairless')"
                [ngClass]="{'pressed': pressedButton ['typeHairless'] }" class="button-filter" name="coatLength"
                role="checkbox" value="Hairless"> Hairless
        </button>
        <button (click)="applyFilter('coatLength', 'Short')  ; toggleButton('typeShort') "
                [ngClass]="{'pressed': pressedButton ['typeShort']}" class="button-filter" name="coatLength"
                role="checkbox" value="Short"> Short
        </button>
        <button (click)="applyFilter('coatLength', 'Medium') ; toggleButton('typeMediumCoat')"
                [ngClass]="{'pressed': pressedButton ['typeMediumCoat'] }" class="button-filter" name="coatLength"
                role="checkbox" value="Medium"> Medium
        </button>
        <button (click)="applyFilter('coatLength', 'Long')  ; toggleButton('typeLong') "
                [ngClass]="{'pressed': pressedButton ['typeLong']}" class="button-filter" name="coatLength"
                role="checkbox" value="Long"> Long
        </button>
      </div>
    </form>

    <div class="search-form">
      <div class="filter-group">
        <h3>NAME</h3>
        <input class="button-filter" type="text" [(ngModel)]="searchTerm" placeholder="Search by name..." (keyup.enter)="addSearchTerm(searchTerm)">
        <div class="chip-container">
          <div *ngFor="let name of searchTerms" class="chip">
            {{ name }}
            <span class="close" (click)="removeSearchTerm(name)">x</span>
          </div>
        </div>
      </div>

      <div class="filter-group">
        <h3>COLOR</h3>
        <input class="button-filter" type="text"
               [(ngModel)]="colorSearchTerm"
               (focus)="showColorOptions = true"
               (blur)="hideColorOptions()"
               placeholder="Select Color..."
               readonly>
        <div *ngIf="showColorOptions" class="options-container">
          <div class="option" *ngFor="let color of colorOptions" (click)="addColor(color)">
            {{ color }}
          </div>
        </div>
        <div class="chip-container">
          <div *ngFor="let color of selectedColors" class="chip">
            {{ color }}
            <span class="close" (click)="removeColor(color)">x</span>
          </div>
        </div>
      </div>

      <div *ngIf="(pressedButton['typeDog'] || pressedButton['typeCat']) && !(pressedButton['typeDog'] && pressedButton['typeCat'])" class="filter-group" >
        <h3>BREED</h3>
        <input class="button-filter" type="text"
               [(ngModel)]="breedSearchTerm"
               (focus)="showBreedOptions = true"
               (blur)="hideBreedOptions()"
               placeholder="Select Breed..."
               readonly>
        <div *ngIf="showBreedOptions" class="options-container">
          <div class="option" *ngFor="let breed of animalBreeds" (click)="addBreed(breed)">
            {{ breed }}
          </div>
        </div>
        <div class="chip-container">
          <div *ngFor="let breed of selectedBreeds" class="chip">
            {{ breed }}
            <span class="close" (click)="removeBreed(breed)">x</span>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="content-container">
    <div class="header-container">
      <h2 *ngIf="!animalCenter && !userId">Animals available for adoption ({{animals.length}})</h2>
      <h2 *ngIf="userId"> My Favorites ({{animals.length}})</h2>
      <h2 *ngIf="animalCenter">Animals from {{ animalCenter.name }} ({{animals.length}})</h2>
      <button (click)="goToAddAnimal()"
              *ngIf=" animalCenterId && getUserRole() === 'SUPPLIER' && animalCenter.admin.id == user.id"
              class="add-animal-center-button">
        ADD ANIMAL
      </button>
    </div>

    <div class="animal-grid">
      <div *ngFor="let animal of animalFiltered" class="animal-card">
        <button (click)="likeAnimal(animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }" class="like-button">
          <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <img [src]='animal.animalImages[0].url  || "../../../assets/background-animal.png"'
             [style.background]="'url(../../../assets/background-animal.png)'"
             class="animal-image">

        <div class="description">
          <button (click)="editAnimal(animal)" *ngIf="getUserRole() == 'SUPPLIER' && animal.author.id == user.id"
                  mat-button>
            <mat-icon>edit</mat-icon>
          </button>

          <div class="animal-details">
            <p class="animal-name"> {{ animal.name }} </p>
            <p class="animal-other-details"> {{ animal.age }}, {{ animal.type }} </p>
          </div>

          <button (click)="deleteAnimal(animal)" *ngIf="getUserRole() === 'ADMIN'" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
