<body>
<div class="main-container">
  <div class="side-container">
    <form  class="search-form">
      <h2>Find Animals by:</h2>

    </form>

  </div>

  <div class="content-container">

    <div class="header-container">
      <h2 *ngIf="!animalCenter">My favourite animals</h2>
      <h2 *ngIf="animalCenter">Animals from {{ animalCenter.name }}</h2>
      <button class="add-animal-center-button" (click)="goToAddAnimal()" *ngIf="user && animalCenterId && getUserRole() === 'ADMIN'">
        ADD ANIMAL
      </button>
    </div>


    <div class="animal-grid">
      <div *ngFor="let animal of animals" class="animal-card">

        <button *ngIf="user" (click)="likeAnimal(animal)" [ngClass]="{ 'liked': isLiked(animal) }" class="like-button" >
          <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <img [src]='animal.animalImages[0].url' class="animal-image">

        <div class="description">
          <button (click)="editAnimal(animal)" *ngIf="getUserRole() == 'ADMIN'" mat-button>
            <mat-icon>edit</mat-icon>
          </button>

          <div class="animal-details">
            <p class="animal-name"> {{ animal.name }} </p>
            <p class="animal-other-details"> {{ animal.age }}, {{ animal.type }} </p>
          </div>

          <button (click)="deleteAnimal(animal)" *ngIf="getUserRole() === 'ADMIN'" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>


    </div>

  </div>

</div>
</body>
