<body>
<div class="main-container">
  <div *ngIf="!userId" class="side-container">
    <form class="search-form">
      <h2>Find animals by:</h2>
      <div class="filter-group">

        <h3>TYPE</h3>
        <button (click)="applyFilter('type', 'Dog') ; toggleButton('typeDog')"
                [ngClass]="{'pressed': pressedButton ['typeDog'] }" class="button-filter" name="type"
                role="checkbox" value="Dog"> Dog
        </button>
        <button (click)="applyFilter('type', 'Cat')  ; toggleButton('typeCat') "
                [ngClass]="{'pressed': pressedButton ['typeCat']}" class="button-filter" name="type"
                role="checkbox" value="Cat"> Cat
        </button>
      </div>

      <div class="filter-group">
        <h3>AGE</h3>
        <button (click)="applyFilter('age', 'Puppy/Kitten') ; toggleButton('typePuppy/Kitten')"
                [ngClass]="{'pressed': pressedButton ['typePuppy/Kitten'] }" class="button-filter" name="age"
                role="checkbox" value="Puppy/Kitten"> Puppy/Kitten
        </button>
        <button (click)="applyFilter('age', 'Young')  ; toggleButton('typeYoung') "
                [ngClass]="{'pressed': pressedButton ['typeYoung']}" class="button-filter" name="age"
                role="checkbox" value="Young"> Young
        </button>
        <button (click)="applyFilter('age', 'Adult') ; toggleButton('typeAdult')"
                [ngClass]="{'pressed': pressedButton ['typeAdult'] }" class="button-filter" name="age"
                role="checkbox" value="Adult"> Adult
        </button>
        <button (click)="applyFilter('age', 'Senior')  ; toggleButton('typeSenior') "
                [ngClass]="{'pressed': pressedButton ['typeSenior']}" class="button-filter" name="age"
                role="checkbox" value="Senior"> Senior
        </button>
      </div>
      <div class="filter-group">
        <h3>SIZE</h3>
        <button (click)="applyFilter('size', 'Small') ; toggleButton('typeSmall')"
                [ngClass]="{'pressed': pressedButton ['typeSmall'] }" class="button-filter" name="size"
                role="checkbox" value="Small"> Small
        </button>
        <button (click)="applyFilter('size', 'Medium')  ; toggleButton('typeMedium') "
                [ngClass]="{'pressed': pressedButton ['typeMedium']}" class="button-filter" name="size"
                role="checkbox" value="Medium"> Medium
        </button>
        <button (click)="applyFilter('size', 'Large') ; toggleButton('typLarge')"
                [ngClass]="{'pressed': pressedButton ['typLarge'] }" class="button-filter" name="size"
                role="checkbox" value="Large"> Large
        </button>
        <button (click)="applyFilter('size', 'Extra Large') ; toggleButton('typeExtra')"
                [ngClass]="{'pressed': pressedButton ['typeExtra'] }" class="button-filter" name="size"
                role="checkbox" value="Extra Large"> Extra Large
        </button>
      </div>
      <div class="filter-group">
        <h3>GENDER</h3>
        <button (click)="applyFilter('gender', 'Male') ; toggleButton('typeMale')"
                [ngClass]="{'pressed': pressedButton ['typeMale'] }" class="button-filter" name="gender"
                role="checkbox" value="Male"> Male
        </button>
        <button (click)="applyFilter('gender', 'Female')  ; toggleButton('typeFemale') "
                [ngClass]="{'pressed': pressedButton ['typeFemale']}" class="button-filter" name="gender"
                role="checkbox" value="Female"> Female
        </button>
      </div>

      <div class="filter-group">
        <h3>COAT LENGTH</h3>
        <button (click)="applyFilter('coatLength', 'Hairless') ; toggleButton('typeHairless')"
                [ngClass]="{'pressed': pressedButton ['typeHairless'] }" class="button-filter" name="coatLength"
                role="checkbox" value="Hairless"> Hairless
        </button>
        <button (click)="applyFilter('coatLength', 'Short')  ; toggleButton('typeShort') "
                [ngClass]="{'pressed': pressedButton ['typeShort']}" class="button-filter" name="coatLength"
                role="checkbox" value="Short"> Short
        </button>
        <button (click)="applyFilter('coatLength', 'Medium') ; toggleButton('typeMediumCoat')"
                [ngClass]="{'pressed': pressedButton ['typeMediumCoat'] }" class="button-filter" name="coatLength"
                role="checkbox" value="Medium"> Medium
        </button>
        <button (click)="applyFilter('coatLength', 'Long')  ; toggleButton('typeLong') "
                [ngClass]="{'pressed': pressedButton ['typeLong']}" class="button-filter" name="coatLength"
                role="checkbox" value="Long"> Long
        </button>
      </div>

      <div class="filter-group">
        <h3>CARE</h3>
        <button (click)="applyFilter('fullyVaccinated', true) ; toggleButton('typeFullyVaccinated')"
                [ngClass]="{'pressed': pressedButton['typeFullyVaccinated']}" class="button-filter"
                name="fullyVaccinated">
          Fully Vaccinated
        </button>

        <button (click)="applyFilter('haveSpecialNeeds', true) ; toggleButton('typeHaveSpecialNeeds')"
                [ngClass]="{'pressed': pressedButton['typeHaveSpecialNeeds']}" class="button-filter"
                name="haveSpecialNeeds">
          Have Special Needs
        </button>

        <button (click)="applyFilter('isTrained', true) ; toggleButton('typeIsTrained')"
                [ngClass]="{'pressed': pressedButton['typeIsTrained']}" class="button-filter" name="isTrained">
          Is Trained
        </button>

        <button (click)="applyFilter('hadOwners', true) ; toggleButton('typeHadOwners')"
                [ngClass]="{'pressed': pressedButton['typeHadOwners']}" class="button-filter" name="hadOwners">
          Had Previous Owner
        </button>
      </div>
    </form>

    <div class="search-form">
      <div class="filter-group">
        <h3>NAME</h3>
        <input (keyup.enter)="addSearchTerm(searchTerm)" [(ngModel)]="searchTerm" class="button-filter"
               placeholder="Search by name..."
               type="text">
        <div class="chip-container">
          <div *ngFor="let name of searchTerms" class="chip">
            {{ name }}
            <span (click)="removeSearchTerm(name)" class="close">x</span>
          </div>
        </div>
      </div>

      <div class="filter-group">
        <h3>COLOR</h3>
        <input (blur)="hideColorOptions()" (focus)="showColorOptions = true"
               [(ngModel)]="colorSearchTerm"
               class="button-filter"
               placeholder="Select Color..."
               readonly
               type="text">
        <div *ngIf="showColorOptions" class="options-container">
          <div (click)="addColor(color)" *ngFor="let color of colorOptions" class="option">
            {{ color }}
          </div>
        </div>
        <div class="chip-container">
          <div *ngFor="let color of selectedColors" class="chip">
            {{ color }}
            <span (click)="removeColor(color)" class="close">x</span>
          </div>
        </div>
      </div>

      <div *ngIf="!animalCenter && !userId" class="filter-group">
        <h3>ANIMAL CENTER</h3>
        <input (blur)="hideCenterOptions()" (focus)="showCenterOptions = true"
               [(ngModel)]="centerSearchTerm"
               class="button-filter"
               placeholder="Select Animal Center..."
               readonly
               type="text">
        <div *ngIf="showCenterOptions" class="options-container">
          <div (click)="addCenter(center)" *ngFor="let center of centerNames" class="option">
            {{ center }}
          </div>
        </div>
        <div class="chip-container">
          <div *ngFor="let center of selectedCenters" class="chip">
            {{ center }}
            <span (click)="removeCenter(center)" class="close">x</span>
          </div>
        </div>
      </div>

      <div
        *ngIf="(pressedButton['typeDog'] || pressedButton['typeCat']) && !(pressedButton['typeDog'] && pressedButton['typeCat'])"
        class="filter-group">
        <h3>BREED</h3>
        <input (blur)="hideBreedOptions()" (focus)="showBreedOptions = true"
               [(ngModel)]="breedSearchTerm"
               class="button-filter"
               placeholder="Select Breed..."
               readonly
               type="text">
        <div *ngIf="showBreedOptions" class="options-container">
          <div (click)="addBreed(breed)" *ngFor="let breed of animalBreeds" class="option">
            {{ breed }}
          </div>
        </div>
        <div class="chip-container">
          <div *ngFor="let breed of selectedBreeds" class="chip">
            {{ breed }}
            <span (click)="removeBreed(breed)" class="close">x</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="content-container">
    <div class="header-container">
      <h1 *ngIf="!animalCenter && !userId">Animals available for adoption: {{animals.length}} animals </h1>
      <h1 *ngIf="userId"> My Favorites: {{animals.length}} animals </h1>
      <h1 *ngIf="animalCenter">Animals from {{ animalCenter.name }}: {{paginatedDogBreeds.length}} animals</h1>

      <button (click)="goToAddAnimal()"
              *ngIf=" animalCenterId && getUserRole() === 'SUPPLIER' && animalCenter.admin.id == user.id"
              class="add-animal-center-button">
        ADD ANIMAL
      </button>
    </div>
    <hr>

    <div class="filter-group-sort">
      <h2 class="sort-title">Sort animals by</h2>
      <select [(ngModel)]="currentSort" (change)="applySort(currentSort)" class="button-sort">
        <option value="dateAsc">Older Addition</option>
        <option value="dateDesc">Newest Addition</option>
        <option value="nearest" *ngIf="user && !animalCenterId">Nearest</option>
        <option value="farthest"  *ngIf="user && !animalCenterId">Farthest</option>
        <option value="randomize">Randomize</option>
      </select>
    </div>

    <div *ngIf="!userId" class="animal-grid">
      <div *ngFor="let animal of paginatedDogBreeds" class="animal-card">
        <a (click)="navigateToAnimalDetails(animal)">
          <button (click)="likeAnimal($event, animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }"
                  class="like-button">
            <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>

          <img [src]='animal.animalImages[0].url  || "../../../assets/background-animal.png"'
               [style.background]="'url(../../../assets/background-animal.png)'"
               class="animal-image">

          <div class="description">
            <button (click)="editAnimal($event, animal)"
                    *ngIf="getUserRole() == 'SUPPLIER' && animal.author.id == user.id"
                    mat-button>
              <mat-icon>edit</mat-icon>
            </button>

            <div class="animal-details">
              <p class="animal-name"> {{ animal.name }} </p>
              <p class="animal-other-details"> {{ animal.age }}, {{ animal.type }} </p>
            </div>

            <button (click)="deleteAnimal($event, animal)"
                    *ngIf="getUserRole() == 'SUPPLIER' && animal.author.id == user.id"
                    mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </a>
      </div>
    </div>

    <div *ngIf="userId" class="animal-grid">
      <div *ngFor="let animal of animals" class="animal-card">
        <a (click)="navigateToAnimalDetails(animal)">
          <button (click)="likeAnimal($event, animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }"
                  class="like-button">
            <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>

          <img [src]='animal.animalImages[0].url  || "../../../assets/background-animal.png"'
               [style.background]="'url(../../../assets/background-animal.png)'"
               class="animal-image">

          <div class="description">
            <div class="animal-details">
              <p class="animal-name"> {{ animal.name }} </p>
              <p class="animal-other-details"> {{ animal.age }}, {{ animal.type }} </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="prevPage()" *ngIf="currentPage > 1" class="pagination-button prev">< PREVIOUS</button>
      <span>Page {{currentPage}}</span>
      <button (click)="nextPage()" *ngIf="currentPage < totalPages" class="pagination-button next">NEXT ></button>
    </div>
  </div>
</div>

<div *ngIf="userId" class="main-container">
  <div *ngIf="user && recentlyViewedAnimals.length > 0" class="content-container">
    <div class="recently">
      <h1 class="recently"> Recently viewed pets </h1>
      <div class="animal-grid">

        <div *ngFor="let animal of recentlyViewedAnimals" class="animal-card">
          <a (click)="navigateToAnimalDetails(animal)">
            <button (click)="likeAnimal($event, animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }"
                    class="like-button">
              <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>

            <img [src]='animal.animalImages[0].url' class="animal-image">
            <div class="description">
              <div class="animal-details">
                <p class="animal-name"> {{ animal.name }} </p>
                <p class="animal-other-details"> {{ animal.age }}, {{ animal.type }} </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
