
body {
  background-color: #EFEEF1;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}


h1 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 550;
}

.main-container {
  margin: 20px;
}

.mat-elevation-z8 {
  box-shadow: 0 6px 10px -1px rgba(0,0,0,0.15), 0 4px 5px 0 rgba(0,0,0,0.1), 0 1px 10px 0 rgba(0,0,0,0.1);
}

mat-header-cell, mat-cell {
  padding: 8px;
  text-align: left;
}

mat-row, mat-header-row {
  min-height: 48px;
}

.buttons-request {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;

}

.button-accept {
  color: white !important;
  height: 48px !important; /* Ajustat pentru a fi mai practic */
  background-color: #6504B5 !important;
  border-radius: 4px !important; /* Adaugă rotunjire pentru estetică */
  font-weight: bold;
}

.button-reject {
  font-weight: bold;
  color: white !important;
  height: 48px !important; /* Ajustat pentru a fi mai practic */
  background-color: #FF1053 !important;
  border-radius: 4px !important; /* Adaugă rotunjire pentru estetică */
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin: auto;
  padding: 20px;
  caret-color: transparent;
  justify-content: center;
}


.content-container {
  font-family: 'Montserrat', sans-serif;
  flex: 0 0 78%;
  width: 1500px;
  padding: 20px;
  background-color: white;
}

.side-container {
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  width: 300px;
}


.search-form {
  margin-top: 0;
  padding: 0px 24px;
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mat-input-element {
  caret-color: transparent;
  height: 40px;
  margin: 0;
}

mat-form-field {
  caret-color: transparent;
  width: 100%;
}

h2 {
  margin-top: 15px;
  caret-color: transparent;
  display: block;
}


.container {
  caret-color: transparent;
  display: flex;
  flex-direction: column;
}


.login-button {
  caret-color: transparent;
  background-color: #6504B5;
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%; /* Ocupă întreaga lățime a containerului */
  box-shadow: none; /* Înlătură orice umbre dacă există */
}

.login-button.reset {
  background-color: #EFEEF1;
  color: #6504B5;
}

/* Stiluri globale pentru toate mat-form-field-urile */
mat-form-field {
  border-radius: 4px; /* Adaugă borduri rotunjite pentru estetică */
  width: 100%; /* Asigură-te că form-field-urile ocupă întreaga lățime */
  padding: 0; /* Îndepărtează orice padding implicit */
}

/* Stilizează liniile subliniate ale câmpurilor de formular */
.mat-form-field-underline {
  height: 1px; /* Subțirează linia de subliniere */
  background-color: transparent; /* Ascunde linia de subliniere când câmpul nu este activ */
}

/* Stilizează eticheta (label) */
.mat-form-field-label {
  color: #666; /* Schimbă culoarea etichetei */
}

/* Stilizează câmpurile de intrare */
.mat-input-element {
  padding: 8px; /* Ajustează paddingul pentru a controla înălțimea câmpurilor */
}


.custom-mat-form-field {
  height: 80px; /* Ajustează înălțimea după cum dorești */
}

/* Stiluri pentru când câmpul de formular nu este activ */
.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: white; /* O linie mai subțire când câmpul nu este activ */
}


.mat-input-element {
  caret-color: transparent;
  height: 40px;
  margin: 0;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-chip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f2f2f2;
  font-size: 14px;
  padding: 5px 10px;
}

.filter-text {
  margin-top: 10px
}

.close-btn {
  display: flex;
  border: 0px;
  max-width: 50px;
  padding-top: 17px;
  max-height: 20px;
}

.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.text {
  white-space: nowrap;
  color: #666666;
  font-size: 14px;
}


.button-filter {
  width: 100%;
  background-color: white;
  color: black;
  /* Adăugați orice alte stiluri necesare pentru buton */
}

.button-filter.pressed {
  background-color: #6504B5;
  color: white;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 150px;
  border-radius: 20px; /* Oferă butoanelor formă rotundă */
  background-color: #6504B5;
  font-weight: bold;
}

.pagination-button:hover {
  background-color: #410078; /* Schimbă culoarea la hover */
}

.pagination-button.prev {
  margin-right: 20px;
}

.pagination-button.next {
  margin-left: 20px;
}

h3 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.chip-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Asigură un spațiu mic între chips-uri */
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #6504B5; /* Culoare mov pentru fundal */
  color: white; /* Textul în culoare albă */
  font-size: 14px; /* Dimensiunea textului din chip */
  cursor: default;
  border-radius: 10px;
}

.chip .close {
  margin-left: 5px;
  cursor: pointer;
}

.options-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 10%;
  max-height: 150px; /* Limitarea înălțimii containerului */
  overflow-y: auto; /* Adaugă scroll vertical dacă este necesar */
  z-index: 1000;
}

