<footer>
  <div class="footer">
    <div class="resources">
      <h3 class="title"> RESOURCES </h3>
      <p (click)="redirectToFAQS()"> FAQs</p>
      <p (click)="redirectToContact()"> Contact</p>
    </div>

    <div class="resources">
      <h3 class="title"> ADOPT OR GET INVOLVED </h3>
      <p (click)="redirectToAboutPage()"> About Pawppies </p>
      <p (click)="redirectToMissionPage()" > Mission </p>
      <p (click)="redirectToAnimalCenter()" > Animal Shelters & Rescues </p>
    </div>

    <div class="resources">
      <h3 class="title"> ABOUT DOGS & PUPPIES</h3>
      <p (click)="redirectToDogAdoption()" > Dog Adoption </p>
      <p (click)="redirectToDogBreeds()" > Dog Breeds </p>
      <p (click)="redirectToFeedDog()"> Feeding your Dog </p>
      <p (click)="redirectToDogHealth()"> Dog Health </p>
    </div>

    <div class="resources">
      <h3 class="title"> ABOUT CATS & KITTENS </h3>
      <p (click)="redirectToCatAdoption()"> Cat Adoption </p>
      <p (click)="redirectToCatBreeds()" > Cat Breeds </p>
      <p (click)="redirectToFeedCat()"> Feeding your Cat </p>
      <p (click)="redirectToCatHealth()"> Cat Health </p>
    </div>

  </div>
  <div class="footer2">
    <p class="rights"> ©2024 Pawppies.com
    </p>
  </div>
</footer>
