<body>

<div class="side-bar-title">
  <h1>About Pawppies</h1>
</div>
<div class="main-container">

  <div class="content-container">

    <h4>ABOUT PAWPPIES </h4>
    <h2>Pawppies's Mission</h2>
    <p>
      Petfinder is an online, searchable database of animals who need homes. It is also a directory of nearly 11,000 animal shelters and adoption organizations across the U.S., Canada and Mexico. Organizations maintain their own home pages and available-pet databases.
    </p>

    <button (click)="goToPawppiesMission()" mat-button class="learn-more">
      <h3 class="btn-learn"> LEARN MORE </h3>
    </button>
  </div>

  <div class="side-container">

<!--    start quizz-->
    <div class="quiz">
  <img class="quiz-img"   src="../../../../assets/good_match.png" >
      <h2 style="text-align: center; margin-bottom: 0; margin-top: 15px"> Find your best </h2>
      <h2 style="text-align: center; margin-bottom: 10px" > match </h2>
      <p class="text-quiz"> It only takes 60 seconds. </p>

      <button mat-button class="start-quiz-btn" (click)="goToQuizPage()">GET STARTED</button>
    </div>


      <div class="search-center">
          <form (ngSubmit)="performSearch()" class="search-form">
            <h2>Find Pet-Adoption Centers by:</h2>

            <!--      //city-->
            <mat-form-field appearance="fill" class="custom-mat-form-field">
              <mat-label>
                <mat-icon matPrefix>location_city</mat-icon>
                City
              </mat-label>
              <input [(ngModel)]="searchData.city" matInput
                     name="email" placeholder="Enter your email"/>
            </mat-form-field>

            <!--        //country/-->
            <mat-form-field appearance="fill" class="custom-mat-form-field">
              <mat-label>
                <mat-icon>public</mat-icon>
                Country
              </mat-label>
              <mat-select [(ngModel)]="searchData.country" name="country" placeholder="Select Country">
                <mat-option *ngFor="let country of countries" [value]="country.name">
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <!--        //name-->
            <mat-form-field appearance="fill" class="custom-mat-form-field">
              <mat-label>
                <mat-icon matPrefix>business</mat-icon>
                Name
              </mat-label>
              <input [(ngModel)]="searchData.name" matInput
                     name="email" placeholder="Enter name"/>
            </mat-form-field>

            <button class="start-quiz-btn" mat-flat-button type="submit">
              SEARCH
            </button>
          </form>
      </div>

  </div>
</div>
</body>
