<mat-toolbar class="top-nav">
  <!-- Rândul 1: Conține logo, All about pet, și butoanele de autentificare -->
  <div class="top-row">
    <div routerLink="/" class="logo">
      <img  class="logo" src="../../../../assets/logo.png">
    </div>
    <div class="menu-button">
      <button (click)="toggleSubMenu()" mat-button>
        All about pet
        <mat-icon [ngClass]="{'rotate': isSubMenuOpen}">expand_more</mat-icon>
      </button>
    </div>
    <div class="auth-buttons">

      <a *ngIf="user" (click)="redirectToFavoriteAnimalsPage()" class="heart-icon" mat-button>
        <mat-icon>favorite</mat-icon>
      </a>

      <a *ngIf="user" mat-button [matMenuTriggerFor]="notificationMenu" class="notification-icon" (click)="markAllNotificationsAsRead()">
        <mat-icon matBadge="{{unreadCount}}" matBadgeHidden="{{unreadCount === 0}}" matBadgePosition="above after" matBadgeColor="warn">notifications</mat-icon>
      </a>

      <mat-menu #notificationMenu="matMenu" class="menu-notification" yPosition="above">
        <h2 class="title-notifications">Notifications</h2>
        <div *ngIf="notifications.length == 0">
          <p class="no-notification-yet">You have no notifications</p>
        </div>
        <div *ngFor="let notification of notifications" class="details-notifications">
          <div class="top-notification">
            <i *ngIf="!notification.isReadByUser" class="fi fi-rr-envelope-dot" style="font-size: 23px"></i>
            <i *ngIf="notification.isReadByUser" class="fi fi-rr-envelope-open" style="font-size: 23px"></i>
            <div class="notification-title-date">
              <p class="nnotification-author" >{{ notification.author }}</p>
              <p class="nnotification-date"> {{ notification.localDate | date:'medium' }}</p>
            </div>
          </div>

          <p>{{ notification.message }}</p>
        </div>
      </mat-menu>

        <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" aria-label="Register"
           class="example-icon login" mat-button>
          Sign Up
        </a>

        <!-- Butoanele pentru utilizatori neautentificați -->
        <a *ngIf="!isLoggedIn" [routerLink]="'/login'" aria-label="Login"
           class="example-icon register" mat-button>
          Log In
        </a>

        <!-- Butoanele pentru utilizatori autentificați -->
        <div *ngIf="isLoggedIn && user" class="user-menu example-icon">
          <button (click)="$event.stopPropagation();" mat-button [matMenuTriggerFor]="userMenu" [ngClass]="{'active': profileDetailMenu}"
          (click)="openUserMenu()">
            {{ user.firstName }} {{ user.lastName }} <!-- Prenume și nume -->
          </button>

          <mat-menu class="custom-menu"  [hasBackdrop]="false" #userMenu="matMenu" (click)="$event.stopPropagation();">
            <button mat-menu-item  class="mat-menu-customize-item" (click)="toProfileSettings()">Profile</button>
            <button *ngIf="getUserRole() == 'ADMIN'"  mat-menu-item  (click)="toUserManagement()" class="mat-menu-customize-item"> User management</button>
            <button mat-menu-item  class="mat-menu-customize-item" (click)="logout()">Logout</button>
          </mat-menu>
        </div>

      </div>
    </div>

  <div *ngIf="isSubMenuOpen && !profileDetailMenu" class="sub-menu">
    <a class="sub-menu-item"  mat-button [matMenuTriggerFor]="adoptMenu" >ADOPT OR GET INVOLVED</a>
    <mat-menu class="custom-menu submeniu" #adoptMenu="matMenu">
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToAboutPawppies()">About Pawppies</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToMission()">Mission</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectAnimalCenter()">Animal Centers</button>
    </mat-menu>

    <a class="sub-menu-item" mat-button [matMenuTriggerFor]="dogs">DOGS & PUPPIES</a>
    <mat-menu class="custom-menu submeniu" #dogs="matMenu">
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToDogBreeds()">Dog breeds</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToDogAdoption()">Dog adoption</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToFeedDog()">Feeding your dog</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToDogTraining()">Dog training</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToDogHealth()">Dog health</button>
    </mat-menu>

    <a class="sub-menu-item" mat-button [matMenuTriggerFor]="cat">CATS & KITTENS</a>
    <mat-menu class="custom-menu submeniu" #cat="matMenu">
      <button class="mat-menu-customize-item" mat-menu-item  (click)="redirectToCatBreeds()" >Cat breeds</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToCatAdoption()">Cat adoption</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToFeedCat()">Feeding your cat</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToCatBehavior()">Cat behavior</button>
      <button class="mat-menu-customize-item" mat-menu-item (click)="redirectToCatHealth()">Cat health</button>

    </mat-menu>

    <a class="sub-menu-item" mat-button [matMenuTriggerFor]="others">OTHER TYPES OF PETS</a>
    <mat-menu class="custom-menu submeniu" #others="matMenu">
      <button class="mat-menu-customize-item" mat-menu-item>Opțiunea 1</button>
      <button class="mat-menu-customize-item" mat-menu-item>Opțiunea 2</button>
    </mat-menu>

  </div>
</mat-toolbar>


