<mat-card *ngIf="user" class="all">
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="container text-center">
              <header style="align-self: center">
                <h1>Add Animal</h1>
              </header>
            </div>

            <form (ngSubmit)="formSubmit()" class="container">
                <mat-form-field appearance="outline">
                  <mat-label>Animal Description</mat-label>
                  <textarea [(ngModel)]="inputText" matInput name="text" rows="10" style="font-size: 16px;"></textarea>
                </mat-form-field>

              <div>
                <input #selectFile (change)="onFileSelected({event : $event})" multiple type="file" value="select">

              </div>

              <div class="text-center">
                <button color="primary" mat-raised-button type="submit">
                  Add
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
