<mat-card>
  <mat-card-content style="font-family: 'Montserrat', sans-serif;">
    <h2>{{animalCenter.name}} Location</h2>

    <p><b> City: </b> {{animalCenter.city}}</p>
    <p><b> Latitude: </b> {{animalCenter.latitude}}</p>
    <p><b> Longitude: </b>{{animalCenter.longitude}}</p>

    <iframe
      [src]="getSafeUrl()"
      class="map"
      height="350"
      style="border:0"
      width="400">
    </iframe>

    <div class="button-container">
      <button (click)="dialogRef.close()" class="close_button" mat-button>CLOSE</button>
    </div>
  </mat-card-content>
</mat-card>
