<footer>
  <div class="footer">
    <div class="resources">
      <h3 class="title"> RESOURCES </h3>
      <p (click)="redirectToFAQS()"> FAQs</p>
      <p (click)="redirectToContact()"> Contact</p>
      <p (click)="redirectToContact()" > Privacy Policy</p>
      <p (click)="redirectToContact()"> Terms of Service</p>
    </div>

    <div class="resources">
      <h3 class="title"> ADOPT OR GET INVOLVED </h3>
      <p > About Pawppies </p>
      <p> Mission </p>
      <p> Animal Shelters & Rescues </p>
      <p> Home Page </p>
    </div>

    <div class="resources">
      <h3 class="title"> ABOUT DOGS & PUPPIES</h3>
      <p > Dog Breeds </p>
      <p> Dog Adoption </p>
      <p> Feeding your Dog </p>
      <p> Other Dog Information </p>
    </div>

    <div class="resources">
      <h3 class="title"> ABOUT CATS & KITTENS </h3>
      <p > Cat Breeds </p>
      <p> Cat Adoption </p>
      <p> Feeding your Cat </p>
      <p> Other Cat Information </p>
    </div>

  </div>
  <div class="footer2">
    <p class="rights"> ©2024 Pawppies.com
    </p>
  </div>
</footer>
