
body {
  background-color: #EFEEF1;
  padding-bottom: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin: auto;
  padding: 20px;
  caret-color: transparent;
  justify-content: center;
}

.see-animals {
  text-align: center;
  margin-top: 20px;
  color: #6504B5;
}

.see-animals:hover {
  margin-top: 20px;
  color: #410078;
}

.content-container {
  font-family: 'Montserrat', sans-serif;
  flex: 0 0 78%;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
}

.side-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  color: #4a4553;
  font-weight: bold;
  caret-color: transparent;
  font-size: 30px;
}

p, ol {
  font-size: large;
  color: #4a4553;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.text-quiz {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinează orizontal la centru */
  align-items: center; /* Alinează vertical la centru, dacă este necesar */
  background-color: white;
}

.search-center {
  background-color: white;
}

.start-quiz-btn {
  background-color: #6504B5;
  color: white; /* Culoarea textului alb */
  border-radius: 25px; /* Colțuri foarte rotunjite */
  margin-bottom: 25px;
  padding: 25px 30px; /* Spațiere internă pentru a mări butonul */
  font-size: 16px; /* Mărimea fontului pentru text */
  font-weight: bold; /* Textul bold */
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25); /* Umbră pentru 3D effect */
  transition: background-color 0.3s, box-shadow 0.3s; /* Tranziție animată pentru hover */
  width: 80%;;
}

.start-quiz-btn:hover {
  background-color: #410078; /* Culoarea de fundal se schimbă la hover */
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25); /* Umbra crește la hover */
}

.show-button {
  font-size: 20px;
  font-weight: 500;
  color: #6504B5;
}

.cute-dog-picture {
  margin-bottom: 20px;
  width: 50%;
  height: 50%;
  display: block;
  align-self: center;
}

.image-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-self: center;
}
