<body>
<div class="main-container">
  <div class="content-container">

    <div class="header-container">
      <h2>Search For Animal Welfare Groups by </h2>
      <!-- Buton pentru adăugare centru animal, vizibil doar pentru ADMIN -->
      <button (click)="navigateToAddAnimalCenter()" *ngIf="getUserRole() == 'SUPPLIER'" class="add-animal-center-button"
              mat-raised-button>
        ADD CENTER
      </button>
    </div>


    <div *ngIf="searchFilters.length > 0" class="filter-container">
      <div *ngFor="let filter of searchFilters">
        <p *ngIf="filter.value" class="filter-chip">
          <button (click)="deleteFilter(filter)" class="btn bg-transparent close-btn">
            <mat-icon>close</mat-icon>
          </button>
          <span class="filter-text"><b>{{ filter.type }}:</b> {{ filter.value }}</span>
        </p>
      </div>
    </div>


    <table *ngIf="(filteredAnimalCenters.length != 0)" [dataSource]="filteredAnimalCenters" class="centers-table"
           mat-table>

      <ng-container matColumnDef="animalCenter">
        <th *matHeaderCellDef>ORGANIZATION</th>
        <td *matCellDef="let animalCenter" mat-cell>{{ animalCenter.name }}</td>
      </ng-container>

      <ng-container matColumnDef="petList">
        <th *matHeaderCellDef>PET LIST</th>
        <td *matCellDef="let animalCenter" mat-cell>
          <button (click)="goToAnimalsPage(animalCenter)" mat-button>
            <mat-icon class="sticker-icon">pets</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coloana pentru oraș/stat -->
      <ng-container matColumnDef="cityState">
        <th *matHeaderCellDef>CITY/STATE</th>
        <td *matCellDef="let animalCenter" mat-cell>{{ animalCenter.city }},  {{animalCenter.country}}</td>
      </ng-container>

      <!-- Coloana pentru contact -->
      <ng-container matColumnDef="contact">
        <th *matHeaderCellDef>CONTACT</th>
        <td *matCellDef="let animalCenter" mat-cell>{{ animalCenter.contact }}</td>
      </ng-container>

      <!-- Coloana pentru acțiunea Show on Map -->
      <ng-container matColumnDef="showOnMap">
        <th *matHeaderCellDef>MAP</th>
        <td *matCellDef="let animalCenter" mat-cell>
          <button (click)="showOnMap(animalCenter)" class="btn bg-transparent" mat-button>
            <mat-icon>map</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coloana pentru Editare -->
      <ng-container matColumnDef="edit">
        <th *matHeaderCellDef>EDIT</th>
        <td *matCellDef="let animalCenter" mat-cell >
          <button *ngIf="getUserRole() == 'SUPPLIER' && animalCenter.admin.id == user.id"
                  (click)="editAnimalCenter(animalCenter)" class="btn bg-transparent" mat-button>
            <mat-icon >edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coloana pentru Ștergere -->
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef>DELETE</th>
        <td *matCellDef="let animalCenter" mat-cell>
          <button (click)="deleteAnimalCenter(animalCenter)" class="btn bg-transparent" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="getHeader()" mat-header-row></tr>
      <tr *matRowDef="let row; columns: getHeader()"
          mat-row></tr>
    </table>

    <h2 *ngIf="filteredAnimalCenters.length == 0"> No results found.</h2>
    <mat-paginator (page)="handlePageEvent($event)"
                   [length]="totalElements"
                   [pageSizeOptions]="[5, 10, 20]"
                   [pageSize]="5">
    </mat-paginator>
  </div>

  <div class="side-container">
    <form (ngSubmit)="performSearch()" class="search-form">
      <h2>Find Pet-Adoption Centers by:</h2>

      <!--      //city-->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>location_city</mat-icon>
          City
        </mat-label>
        <input [(ngModel)]="searchData.city" matInput
               name="email" placeholder="Enter your email"/>
      </mat-form-field>

      <!--        //country/-->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon>public</mat-icon>
          Country
        </mat-label>
        <mat-select [(ngModel)]="searchData.country" name="country" placeholder="Select Country">
          <mat-option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!--        //name-->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>business</mat-icon>
          Name
        </mat-label>
        <input [(ngModel)]="searchData.name" matInput
               name="email" placeholder="Enter name"/>
      </mat-form-field>


      <!--        //max distance-->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>business</mat-icon>
          Max Distance
        </mat-label>
        <input [(ngModel)]="searchData.distance" matInput
               name="email" placeholder="Enter max distance"/>
      </mat-form-field>

      <button class="login-button" mat-flat-button type="submit">
        SEARCH
      </button>

      <div class="line-with-text">
        <div class="text">OR</div>
      </div>

      <button (click)="showAllCenters()" class="login-button reset" mat-flat-button>
        SHOW ALL
      </button>
    </form>

  </div>
</div>
</body>
