.main-container {
  width: 800px;
  margin: auto;
  padding: 30px;
  caret-color: transparent;
  background-color: white;
}


body {
  background-color: #EFEEF1;
  padding-top: 50px;
  padding-bottom: 20px;
  caret-color: transparent;
  background-image: url("../../../assets/adoption-request.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

h2 {
  caret-color: transparent;
  display: block;
  text-align: center;
}

button {
  caret-color: transparent;
  width: 100%;
  margin-top: 20px;
}

.container {
  caret-color: transparent;
  display: flex;
  flex-direction: column;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
}

mat-icon {
  margin-right: 8px;
}


p {
  caret-color: transparent;
  color: #3e403f;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

button:hover {
  caret-color: transparent;
  transform: translatey(3px);
  box-shadow: none;
}



.login-button {
  caret-color: transparent;
  background-color: #6504B5;
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  max-width: 350px; /* Ocupă întreaga lățime a containerului */
  box-shadow: none; /* Înlătură orice umbre dacă există */
}

.login-form {
  caret-color: transparent;
  display: flex;
  flex-direction: column;

}


.custom-mat-form-field {
  display: flex;
  flex-direction: row;
  width: 500px;
  caret-color: transparent;
  height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  background-color: white;
  gap: 50px;
}

.phone-number {
  margin-top: 15px;
}
.mat-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
}

.mat-form-field-label-wrapper {
  caret-color: transparent;
  top: -5px;
}

.mat-input-element {
  caret-color: transparent;
  height: 40px;
  margin: 0;
}

.title-h3{
  text-align: left;
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.top-form{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.reason-area {
  height: 600px;
}

.buton-login {
  display: flex;
  align-content: center;
  justify-content: center;
}
