<mat-card *ngIf="user" class="all">
  <mat-card-content>

    <form (ngSubmit)="formSubmit()" [formGroup]="editForm">
      <div class="con">
        <header>
          <h1>Your profile details</h1>
          <h1 class="mt20"> {{ user.firstName }} {{ user.lastName }} </h1>
        </header>

        <div class="field-set">

          <!-- First Name -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label><mat-icon>first_page</mat-icon> First Name</mat-label>
            <input [(ngModel)]="userInput.firstName" class="form-input" formControlName="firstname" matInput name="firstName" placeholder="First Name"/>
            <button mat-icon-button matSuffix (click)="userInput.firstName=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Last Name -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label><mat-icon>last_page</mat-icon> Last Name</mat-label>
            <input [(ngModel)]="userInput.lastName" class="form-input" formControlName="lastname" matInput name="lastName" placeholder="Last Name"/>
            <button mat-icon-button matSuffix (click)="userInput.lastName=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label><mat-icon>email</mat-icon> Email</mat-label>
            <input [(ngModel)]="userInput.email" class="form-input" formControlName="email" matInput name="email" placeholder="Email"/>
            <button mat-icon-button matSuffix (click)="userInput.email=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="editForm.value.email">{{ emailError }}</mat-error>

          </mat-form-field>

          <!-- Phone -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label><mat-icon>call</mat-icon> Phone</mat-label>
            <input [(ngModel)]="userInput.phone" class="form-input" formControlName="phone" matInput name="phone" placeholder="Phone"/>
            <button mat-icon-button matSuffix (click)="userInput.phone=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="editForm.value.phone">{{ phoneError }}</mat-error>

          </mat-form-field>

          <!-- New Password -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label><mat-icon>vpn_key</mat-icon> New Password</mat-label>
            <input [(ngModel)]="userInput.password" class="form-input" formControlName="password" matInput name="password" placeholder="New Password" type="password"/>
            <button mat-icon-button matSuffix (click)="userInput.password=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="editForm.value.password"> {{errorPassword}}</mat-error>

          </mat-form-field>

          <div class="other">
            <button class="btn submits" mat-raised-button type="reset" (click)="clearForm()">
              <mat-icon>clear_all</mat-icon>
              Clear
            </button>
            <button class="btn submits" mat-raised-button type="submit">
              Update
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
