<div class="main-container">
  <div *ngIf="user" class="content-container">
    <h2> DOG BREEDS</h2>
    <div class="animal-grid">
      <div *ngFor="let dog of dogBreeds" class="animal-card">
        <img [src]='dog.image' class="animal-image">
        <div class="animal-details">
          <p class="animal-name"> {{ dog.name }} </p>
        </div>
      </div>
    </div>
    <mat-paginator [length]="totalElements"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</div>
