<div class="search-dog">
  <img alt="Dogs Background" src="../../../assets/dogs.png">

  <div class="centered-box">
    <h2 class="search-text special">Find Your Perfect Dog or Puppy Breed</h2>
    <select [(ngModel)]="selectedBreed" class="breed-selector">
      <option value="" disabled selected>Select your breed</option>
      <option *ngFor="let breed of animalBreedname" [value]="breed">{{ breed }}</option>
    </select>
    <button (click)="goToSelectedBreedDogPage(selectedBreed)" class="go-button" [disabled]="!selectedBreed">GO</button>
  </div>
</div>

<div class="special-dogs">
  <h2 class="search-text special">Find Your Perfect Dog or Puppy Breed For Your Lifestyle</h2>
  <div class="dog-boxes">
    <div (click)="goToCutestDog()" class="dog-box">
      <img alt="Dog 1" src="../../../assets/cute.png">
      <p>CUTEST DOG BREEDS</p>
    </div>
    <div (click)="goToApartmentsDog()" class="dog-box">
      <img alt="Dog 2" src="../../../assets/apartaments.png">
      <p>BEST DOG FOR APARTMENTS</p>
    </div>
    <div (click)="goToKidsDog()" class="dog-box">
      <img alt="Dog 3" src="../../../assets/kids.png">
      <p>BEST DOG BREEDS FOR KIDS</p>
    </div>
    <div (click)="goTPopularDog()" class="dog-box">
      <img alt="Dog 4" src="../../../assets/pudel.png">
      <p>MOST POPULAR DOG BREEDS</p>
    </div>
  </div>
</div>

<body>
<div class="main-container">
  <div class="side-container">
    <div class="search-form">
      <h2>Filter Breeds </h2>
      <div class="filter-group">
        <h3>SIZE</h3>
        <button (click)="applyFilter('size', 'Small') ; toggleButton('sizeSmall')"
                [ngClass]="{'pressed': pressedButton ['sizeSmall'] }" class="button-filter" name="size"
                role="checkbox" value="Small"> Small
        </button>
        <button (click)="applyFilter('size', 'Medium')  ; toggleButton('sizeMedium') "
                [ngClass]="{'pressed': pressedButton ['sizeMedium']}" class="button-filter" name="size"
                role="checkbox" value="Medium"> Medium
        </button>
        <button (click)="applyFilter('size', 'Large') ; toggleButton('sizeLarga') "
                [ngClass]="{'pressed': pressedButton [ 'sizeLarga'] }" class="button-filter" name="size"
                role="checkbox" value="Large"> Large
        </button>
        <button (click)="applyFilter('size', 'Extra Large')  ; toggleButton('sizeExtraLarge')"
                [ngClass]="{'pressed': pressedButton ['sizeExtraLarge'] }" class="button-filter"
                name="size" role="checkbox"
                value="Extra Large"> Extra Large
        </button>
      </div>

      <div class="filter-group">
        <h3>ENERGY LEVEL</h3>
        <button (click)="applyFilter('activityLevel', 'Low')  ; toggleButton('activityLevelLow')"
                [ngClass]="{'pressed': pressedButton [ 'activityLevelLow']}" class="button-filter"
                name="activityLevel" role="checkbox"
                value="Low"> Low
        </button>
        <button (click)="applyFilter('activityLevel', 'Moderate')  ; toggleButton('activityLevelModerate')"
                [ngClass]="{'pressed': pressedButton [ 'activityLevelModerate'] }" class="button-filter"
                name="activityLevel" role="checkbox"
                value="Moderate"> Moderate
        </button>
        <button (click)="applyFilter('activityLevel', 'High') ; toggleButton('activityLevelHidh')"
                [ngClass]="{'pressed': pressedButton [ 'activityLevelHidh'] }" class="button-filter"
                name="activityLevel" role="checkbox"
                value="High"> High
        </button>
      </div>

      <div class="filter-group">
        <h3>EASE OF TRAINING</h3>
        <button (click)="applyFilter('easeOfTraining', 'Easy')  ; toggleButton('easeOfTrainingLow')"
                [ngClass]="{'pressed': pressedButton [ 'easeOfTrainingLow'] }" class="button-filter"
                name="easeOfTraining" role="checkbox"
                value="Easy"> Easy
        </button>
        <button (click)="applyFilter('easeOfTraining', 'Average')  ; toggleButton('easeOfTrainingMedium')"
                [ngClass]="{'pressed': pressedButton [ 'easeOfTrainingMedium']}" class="button-filter"
                name="easeOfTraining" role="checkbox"
                value="Average"> Average
        </button>
        <button (click)="applyFilter('easeOfTraining', 'Difficult')  ; toggleButton('easeOfTrainingHigh')"
                [ngClass]="{'pressed': pressedButton ['easeOfTrainingHigh']}" class="button-filter"
                name="easeOfTraining" role="checkbox"
                value="Difficult"> Difficult
        </button>
      </div>

      <div class="filter-group">
        <h3>GROOMING REQUIREMENTS</h3>
        <button (click)="applyFilter('groomingRequirements', 'Low')  ; toggleButton('groomingRequirementsLow')"
                [ngClass]="{'pressed': pressedButton [ 'groomingRequirementsLow'] }"
                class="button-filter" name="groomingRequirements" role="checkbox"
                value="Low"> Low
        </button>
        <button (click)="applyFilter('groomingRequirements', 'Moderate')  ; toggleButton('groomingRequirementsM')"
                [ngClass]="{'pressed': pressedButton [ 'groomingRequirementsM'] }" class="button-filter"
                name="groomingRequirements" role="checkbox"
                value="Moderate">
          Moderate
        </button>
        <button (click)="applyFilter('groomingRequirements', 'High')  ; toggleButton('groomingRequirementsH')"
                [ngClass]="{'pressed': pressedButton [ 'groomingRequirementsH'] }" class="button-filter"
                name="groomingRequirements" role="checkbox"
                value="High"> High
        </button>
      </div>

      <div class="filter-group">
        <h3>VOCALITY</h3>
        <button (click)="applyFilter('vocality', 'Low')  ; toggleButton('vocalityL')"
                [ngClass]="{'pressed': pressedButton [ 'vocalityL'] }" class="button-filter"
                name="vocality" role="checkbox" value="Low"> Low
        </button>
        <button (click)="applyFilter('vocality', 'Moderate')  ; toggleButton('vocalityM')"
                [ngClass]="{'pressed': pressedButton [ 'vocalityM'] }" class="button-filter"
                name="vocality" role="checkbox"
                value="Moderate"> Moderate
        </button>
        <button (click)="applyFilter('vocality', 'High')  ; toggleButton('vocalityH')"
                [ngClass]="{'pressed': pressedButton [ 'vocalityH'] }" class="button-filter"
                name="vocality" role="checkbox" value="High">
          High
        </button>
      </div>

      <div class="filter-group">
        <h3>EXERCISE REQUIREMENTS</h3>
        <button (click)="applyFilter('exerciseRequirements', 'Moderate')  ; toggleButton('exerciseRequirementsL')"
                [ngClass]="{'pressed': pressedButton [ 'exerciseRequirementsL'] }" class="button-filter"
                name="exerciseRequirements" role="checkbox"
                value="Moderate"> Moderate
        </button>
        <button (click)="applyFilter('exerciseRequirements', 'Significant')  ; toggleButton('exerciseRequirementsM')"
                [ngClass]="{'pressed': pressedButton [ 'exerciseRequirementsM'] }" class="button-filter"
                name="exerciseRequirements" role="checkbox"
                value="Significant"> Significant
        </button>
        <button (click)="applyFilter('exerciseRequirements', 'Rigorous')  ; toggleButton('exerciseRequirementsH')"
                [ngClass]="{'pressed': pressedButton [ 'exerciseRequirementsH'] }" class="button-filter"
                name="exerciseRequirements" role="checkbox"
                value="Rigorous"> Rigorous
        </button>
      </div>

      <div class="filter-group">
        <h3>AFFECTION FOR OWNERS</h3>
        <button (click)="applyFilter('affectionForOwners', 'Independent')  ; toggleButton('affectionForOwnersL')"
                [ngClass]="{'pressed': pressedButton [ 'affectionForOwnersL'] }" class="button-filter"
                name="affectionForOwners" role="checkbox"
                value="Independent"> Independent
        </button>
        <button (click)="applyFilter('affectionForOwners', 'Balanced')  ; toggleButton('affectionForOwnersM')"
                [ngClass]="{'pressed': pressedButton [ 'affectionForOwnersM'] }" class="button-filter"
                name="affectionForOwners" role="checkbox"
                value="Balanced"> Balanced
        </button>
        <button (click)="applyFilter('affectionForOwners', 'Cuddly')  ; toggleButton('affectionForOwnersH')"
                [ngClass]="{'pressed': pressedButton [ 'affectionForOwnersH'] }" class="button-filter"
                name="affectionForOwners" role="checkbox"
                value="Cuddly"> Cuddly
        </button>
      </div>
      <div class="filter-group">
        <h3>FRIENDLINESS</h3>
        <button (click)="applyFilter('friendliness', 'Toward Dogs')  ; toggleButton('friendlinessL')"
                [ngClass]="{'pressed': pressedButton [ 'friendlinessL'] }" class="button-filter"
                name="friendliness" role="checkbox"
                value="Independent"> Toward Dogs
        </button>
        <button (click)="applyFilter('friendliness', 'Toward Children')  ; toggleButton('friendlinessH')"
                [ngClass]="{'pressed': pressedButton [ 'friendlinessH'] }" class="button-filter"
                name="friendliness" role="checkbox"
                value="Balanced"> Toward Children
        </button>
      </div>
    </div>

  </div>

  <div  class="content-container">
    <h2 class="number-dogs"> {{totalElements}} Dog or Puppy Breeds</h2>
    <div class="animal-grid">
      <div *ngFor="let dog of paginatedDogBreeds" class="animal-card">
        <a (click)="viewDogDetails(dog)">
        <img [src]='dog.image || "../../../assets/background-animal.png"'
             [style.background]="'url(../../../assets/background-animal.png)'"
             class="animal-image">
        <p class="animal-name"> {{ dog.name }} </p>
        </a>
        <hr>

        <button mat-button class="animal-available" (click)="redirectToAnimalPage(dog)"> View Adoptable Pets for This Breed ></button>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="prevPage()" *ngIf="currentPage > 1" class="pagination-button prev">< PREVIOUS</button>
      <span>Page {{currentPage}}</span>
      <button (click)="nextPage()" *ngIf="currentPage < totalPages" class="pagination-button next">NEXT ></button>
    </div>
  </div>
</div>
</body>

