<body>
<div class="main-container">
    <form (ngSubmit)="formSubmit()" [formGroup]="loginData" class="login-form">
      <h2>Log In</h2>
      <p>login using your username and password</p>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>person</mat-icon>
          Username
        </mat-label>
        <input [(ngModel)]="loginData.value.username" matInput
               formControlName="username" placeholder="Username" required/>
        <button (click)="loginData.value.username=''" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="loginData.get('username')?.hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          Password
        </mat-label>
        <input [(ngModel)]="loginData.value.password" matInput
               formControlName="password" placeholder="Password" required type="password"/>
        <button (click)="loginData.value.password=''" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="loginData.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>

      <button class="login-button" mat-flat-button type="submit">
        LOG IN
      </button>

      <p style="text-align: center; margin-top: 20px;">
        Need an account? <a routerLink='/signup' style="color: #6504B5;">Sign up</a>
      </p>
    </form>
</div>

</body>
