<body>
<div class="main-container">
  <div class="side-container">
    <form  class="search-form">
      <h2>Find Animals by:</h2>

    </form>

  </div>

  <div *ngIf="user" class="content-container">

    <h2 *ngIf="!university">My favourite animals</h2>
    <h2 *ngIf="university">Animals from {{ university.name }}</h2>

    <!--    review list-->
    <div class="review-grid">
      <div *ngFor="let review of allReviews" class="review-card">

        <button (click)="likeReview(review)" [ngClass]="{ 'liked': isLiked(review) }" class="like-button" >
          <mat-icon>{{ isLiked(review) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <img [src]='review.reviewImages[0].url' class="review-image">
        <div class="review-details">
          <p class="review-name"> {{ review.name }} </p>
          <p class="review-other-details"> {{ review.age }}, {{ review.breed }} </p>
        </div>

        <button (click)="editReview(review)" *ngIf="getUserRole() == 'ADMIN'" mat-button
                style="margin-right: 20px">
          EDIT
        </button>
        <button (click)="deleteReview(review)" *ngIf="getUserRole() === 'ADMIN'" mat-button
                style="margin-right: 20px">
          DELETE
        </button>
        <br/>
      </div>

      <button (click)="goToAddReview()" *ngIf="user && universityId && getUserRole() === 'ADMIN'" class="add-button"
              mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

</div>
</body>
