body {
  background-color: #EFEEF1;
  padding-bottom: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  caret-color: transparent;
  justify-content: center;
}

.content-container {
  font-family: 'Montserrat', sans-serif;
  flex: 0 0 78%;
  width: 1500px;
  padding: 20px;
  background-color: white;
}

h1 {
  color: #4a4553;
  caret-color: transparent;
  display: block;
  font-size: 35px;
  font-weight: bold;
}

.form-details {
  display: flex;
  flex-direction: column;
}

.custom-mat-form-field {
  width: 400px;
}

.name{
  display: flex;
  flex-direction: row;
  gap:50px;
}

.update-button {
  caret-color: transparent;
  background-color: #6504B5;
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  font-weight: bold;
  width: 200px; /* Ocupă întreaga lățime a containerului */
  box-shadow: none; /* Înlătură orice umbre dacă există */
}

.update-button:hover {
  background-color: #410078;
}

.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  gap:50px ;
  border-bottom: 1px solid #666666;

}

.menu button:hover {
  border-bottom: 1px solid #6504B5;

}

h2 {
  margin: 0
}

