mat-card {
  caret-color: transparent;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}


body {
  caret-color: transparent;
  background-color: #EFEEF1;
  padding-top: 20px;
  padding-bottom: 20px;

}

.university-table {
  caret-color: transparent;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.mat-cell, .mat-header-cell {
  caret-color: transparent;
  padding: 8px;
  text-align: left;
}

.mat-row, .mat-header-row {
  caret-color: transparent;
  border-bottom: 1px solid #e0e0e0;
}

.search-icon {
  color: #410078;
}

th {
  caret-color: transparent;
  background-color: #EFEEF1;
  text-align: center;
}


.mat-header-row, .mat-header-cell {
  caret-color: transparent;
  background-color: #EFEEF1;
  color: #410078;
}

.confirm-button-class {
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  box-shadow: none;
}


.cancel-button-class {
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  box-shadow: none;
}

* {
  caret-color: transparent;
}
