<mat-card *ngIf="user">
  <mat-card-content class="grid-background">
    <form class="container search-container">
      <mat-form-field class="search-field">
        <input (ngModelChange)="searchUniversity(searchItem)" [(ngModel)]="searchItem" matInput name="search"
               placeholder="Search Center" type="search"/>
        <mat-icon class="search-icon" matSuffix>search</mat-icon>
      </mat-form-field>
    </form>


    <div class="bootstrap-wrapper">
      <div class="university-grid">

        <div *ngFor="let university of filteredUniversities" class="university-container">
          <mat-card class="university-card">
            <div>
              <header (click)="goToReviews(university)" class="university-header">
                <h1>{{ university.name }}</h1>
                <blockquote class="center-quote">{{ university.description }}</blockquote>

              </header>
            </div>
            <mat-card-actions class="card-action-container">
              <div class="left-actions">
                <button (click)="showOnMap(university)" class="map-button" mat-button>
                  <mat-icon>map</mat-icon>
                  Show on Map
                </button>
              </div>
              <div *ngIf="getUserRole() === 'ADMIN'" class="right-actions">
                <button (click)="editUniversity(university)" mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteUniversity(university)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-actions>

          </mat-card>
        </div>

      </div>
      <button (click)="goToAddUniversity()" *ngIf="user && getUserRole() === 'ADMIN'" class="add-button" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
