mat-card {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}


body {
  background-color: #EFEEF1;
  padding-top: 20px;
  padding-bottom: 20px;

}

.university-table {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.mat-cell, .mat-header-cell {
  padding: 8px;
  text-align: left;
}

.mat-row, .mat-header-row {
  border-bottom: 1px solid #e0e0e0;
}

.search-icon {
  color: #410078;
}

th {
  background-color: #EFEEF1;
  text-align: center;
}


.mat-header-row, .mat-header-cell {
  background-color: #EFEEF1; /* Culoarea pentru antetul tabelului */
  color: #410078; /* Culoarea textului, dacă doriți să o schimbați */
  /* Adăugați aici orice alte stiluri necesare pentru antetul tabelului */
}


