<body>
<mat-card *ngIf="user">
  <mat-card-content>
    <form>
      <mat-form-field>
        <input (ngModelChange)="searchUniversity(searchItem)" [(ngModel)]="searchItem" matInput name="search"
               placeholder="Search Center" type="search"/>
        <mat-icon class="search-icon" matSuffix>search</mat-icon>
      </mat-form-field>
    </form>

    <!-- Tabelul de universități -->
    <table mat-table [dataSource]="filteredUniversities" class="university-table">

      <!-- Coloana pentru numele universității -->
      <ng-container matColumnDef="university">
        <th  *matHeaderCellDef>ORGANIZATION</th>
        <td mat-cell *matCellDef="let university">{{ university.name }}</td>
      </ng-container>

      <!-- Coloana pentru lista de animale -->
      <ng-container matColumnDef="petList">
        <th  *matHeaderCellDef>PET LIST</th>
        <td mat-cell *matCellDef="let university">
          <button mat-button (click)="goToReviews(university)">
            <mat-icon class="sticker-icon">pets</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coloana pentru oraș/stat -->
      <ng-container matColumnDef="cityState">
        <th  *matHeaderCellDef>CITY, STATE/PROV</th>
        <td mat-cell *matCellDef="let university">{{ university.city }}</td>
      </ng-container>

      <!-- Coloana pentru contact -->
      <ng-container matColumnDef="contact">
        <th  *matHeaderCellDef>CONTACT</th>
        <td mat-cell *matCellDef="let university">{{ university.contact }}</td>
      </ng-container>

      <!-- Coloana pentru acțiunea Show on Map -->
      <ng-container matColumnDef="showOnMap">
        <th  *matHeaderCellDef>MAP</th>
        <td mat-cell *matCellDef="let university">
          <button (click)="showOnMap(university)" mat-icon-button>
            <mat-icon>map</mat-icon>
          </button>
        </td>
      </ng-container>


      <!-- Coloana pentru Editare -->
      <ng-container matColumnDef="edit">
        <th *matHeaderCellDef>EDIT</th>
        <td mat-cell *matCellDef="let university">
          <button mat-button (click)="editUniversity(university)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coloana pentru Ștergere -->
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef>DELETE</th>
        <td mat-cell *matCellDef="let university">
          <button mat-button (click)="deleteUniversity(university)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getUserRole() == 'ADMIN' ? displayedColumnsAdmin : displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: getUserRole() == 'ADMIN' ? displayedColumnsAdmin : displayedColumns;"></tr>

    </table>

  </mat-card-content>
</mat-card>
</body>
