<mat-card *ngIf="user" class="all">
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <header>
            <h1>Add Animal Center</h1>

          </header>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form (ngSubmit)="formSubmit()" class="container text-center">
              <div>
                <!-- Animal Center name -->
                <mat-form-field appearance="fill" class="full-width">
                  <input [(ngModel)]="formInput.name" matInput name="name" placeholder="Animal Center Name"/>
                </mat-form-field>
              </div>

              <div>
                <!-- Animal Center location -->
                <mat-form-field appearance="fill" class="full-width">
                  <input [(ngModel)]="formInput.location" matInput name="location" placeholder="Animal Center Location"/>
                </mat-form-field>
              </div>

              <div>
                <!-- Animal Center description -->
                <mat-form-field appearance="fill" class="full-width">
                  <textarea [(ngModel)]="formInput.description" matInput name="description"
                            placeholder="Animal Center Description"></textarea>
                </mat-form-field>
              </div>
              <div class="text-center">
                <button [disabled]="!isFormValid()" mat-raised-button type="submit">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
