<body>
<div class="main-container">

<div class="top-container">
  <div class="left-container">
    <div class="image-container">
      <img src="../../../assets/logo-shelter.png" class="image-grid">
    </div>
    <div class="details-container">
      <h1> {{animalCenter.name}}</h1>
      <div class="location-container">
        <mat-icon>location_on</mat-icon>
        <h2> {{animalCenter.city}} , {{animalCenter.country}}</h2>
      </div>
    </div>
  </div>

  <div class="right-container">
    <button (click)="goToAnimalsPage(animalCenter)" mat-button class="btn-show-animals">
      <h3 class="btn-learn"> VIEW OUR PETS </h3>
    </button>

    <div class="contact-container">
      <mat-icon>contact_mail</mat-icon>
      <h2> {{animalCenter.contact}}</h2>
    </div>

    <div class="phone-container">
      <mat-icon>phone</mat-icon>
      <h2> {{animalCenter.phone}}</h2>
    </div>

  </div>
</div>

<div class="map-container">
  <button class="directions-button" (click)="showDirections()">SHOW DIRECTIONS</button>
  <iframe
    [src]="getSafeUrl()"
    class="map"
    height="350"
    style="border:0">
  </iframe>
</div>

  <h1> Our Mission </h1>
  <div class="mission-container">
    <p> {{animalCenter.mission}}</p>
  </div>
</div>
</body>

