
.central-picture {
  width: 360px; /* sau lățimea dorită */
  height: 380px; /* sau înălțimea dorită */
}

.image-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.images {
  background-color: #EFEEF1;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lateral-picture {
  width: 300px;
  height: 350px; /* sau înălțimea dorită */
  filter: brightness(0.4);
}
