<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">


<div class="background-container">
  <img class="background" src="../../../assets/background-home.jpg">
  <div class="find-animals">
    <h1 class="find-friend">Find your new best friend</h1>
    <h2>Browse pets from our network of over 100 shelters and rescues</h2>

    <div class="find-options">
      <div class="find-option" (click)="goToDogAnimalPage()">
        <i class="fas fa-dog" style="font-size: 80px; color: #6504B5"></i>
        <p class="text-options">DOG</p>
      </div>
      <div class="find-option" (click)="goToCatAnimalPage()">
        <i class="fas fa-cat" style="font-size: 80px; color: #6504B5"></i>
        <p class="text-options">CAT</p>
      </div>
      <div class="find-option">
        <i class="fas fa-fish" style="font-size: 80px; color: #6504B5"></i>
        <p class="text-options">OTHER ANIMALS</p>
      </div>
      <div class="find-option" (click)="goToAnimalCenterPage()">
        <i class="fas fa-home" style="font-size: 80px; color: #6504B5"></i>
        <p class="text-options">ANIMAL SHELTERS</p>
      </div>
    </div>
  </div>
</div>

<div class="border">
</div>

<div class="see-animals">

  <h1 (click)="goToAnimalsPage()" class="see-animals"> Pets Available for Adoption > </h1>

  <div class="animal-grid">
    <div *ngFor="let animal of showAnimals; let isLast = last" [class]="isLast ? 'animal-card-last' : 'animal-card'">
      <ng-container *ngIf="isLast ; else notLastTemplate">
        <div (click)="goToAnimalsPage()">
          <div class="animal-image">
            <mat-icon class="centered-icon">search</mat-icon>

            <p class="centered-text">300+ pets available on Pawppies </p>
          </div>

          <div class="animal-last">
            <p class="meet-animals-text">MEET THEM</p>
          </div>
        </div>
      </ng-container>

      <ng-template #notLastTemplate>
        <button (click)="likeAnimal(animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }" class="like-button">
          <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <img [src]='animal.animalImages[0].url' class="animal-image">
        <div class="animal-details">
          <p class="animal-name"> {{ animal.name }} </p>
          <p class="animal-other-details"> {{ animal.age }}, {{ animal.breed }} </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

