<body>
<mat-card *ngIf="user">
  <mat-card-content  style="font-family: 'Montserrat', sans-serif;">
    <h2>Add a new Animal Shelter</h2>

    <h4> complete the details below to introduce a new shelter</h4>

    <form (ngSubmit)="formSubmit()" class="form-directions">
      <div class="login-form">

      <div class="left-description">
        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>store</mat-icon>
            Center Name
          </mat-label>
          <input [(ngModel)]="formInput.name" matInput name="name" placeholder="Center Name"/>
          <button (click)="formInput.name=''" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!--          \\city-->
        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>location_city</mat-icon>
            Center City
          </mat-label>
          <input [(ngModel)]="formInput.city" matInput name="city" placeholder="Center City,State/Prov"/>
          <button (click)="formInput.name=''" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- Country Dropdown -->
        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>public</mat-icon>
            Country
          </mat-label>
          <mat-select [(ngModel)]="formInput.country" name="country" placeholder="Select Country">
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Longitude -->
        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>explore</mat-icon>
            Longitude
          </mat-label>
          <input [(ngModel)]="formInput.longitude" matInput name="longitude" placeholder="Longitude"/>
          <button (click)="formInput.longitude=''" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- Latitude -->
        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>explore</mat-icon>
            Latitude
          </mat-label>
          <input [(ngModel)]="formInput.latitude" matInput name="latitude" placeholder="Latitude"/>
          <button (click)="formInput.latitude=''" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>perm_contact_calendar</mat-icon>
            Email
          </mat-label>
          <input [(ngModel)]="formInput.contact" matInput name="contact" placeholder="Email"/>
          <button (click)="formInput.name=''" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>
            <mat-icon>phone</mat-icon>
            Phone
          </mat-label>
          <input [(ngModel)]="formInput.phone" matInput name="phone" placeholder="phone"/>
          <button (click)="formInput.phone=''" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- Mission -->
        <mat-form-field appearance="fill" class="textarea-input">
          <mat-label>
            <mat-icon>assignment</mat-icon>
            Mission
          </mat-label>
          <textarea [(ngModel)]="formInput.mission" matInput name="mission" placeholder="Center's Mission"></textarea>
        </mat-form-field>
      </div>

      <div class="right-description">


        <!-- Luni -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Monday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.mondayOpen" matInput name="mondayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.mondayClose" matInput name="mondayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>

        <!-- marti -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Tuesday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.tuesdayOpen" matInput name="tuesdayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.tuesdayClose" matInput name="tuesdayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>

        <!-- Miercuri -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Wednesday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.wednesdayOpen" matInput name="wednesdayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.wednesdayClose" matInput name="wednesdayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>

        <!-- joi -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Thursday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.thursdayOpen" matInput name="thursdayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.thursdayClose" matInput name="thursdayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>

        <!-- vineri -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Friday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.fridayOpen" matInput name="fridayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.fridayClose" matInput name="fridayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>

        <!-- sAMBATA -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Saturday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.saturdayOpen" matInput name="saturdayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.saturdayClose" matInput name="saturdayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>

        <!-- duminica -->
        <div class="day-schedule">
          <h3>
            <mat-icon>alarm</mat-icon> Sunday
          </h3>
          <mat-form-field appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input [(ngModel)]="openingHours.sundayOpen" matInput name="sundayOpen" type="time" placeholder="HH:MM"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input [(ngModel)]="openingHours.sundayClose" matInput name="sundayClose" type="time" placeholder="HH:MM"/>
          </mat-form-field>
        </div>
      </div>
      </div>

      <div class="button-container">
        <button class="login-button"  mat-button type="submit">
          ADD
        </button>
        <button class="cancel-button" (click)="clearForm()" mat-button type="button">
          CLEAR
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>

</body>
