<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-thin-straight/css/uicons-thin-straight.css'>
<div class="background-container">
  <img class="background" src="../../../../assets/background-home.jpg">
  <div class="find-animals">
    <h1 class="find-friend">Find your new best friend</h1>
    <h2>Browse pets from our network of over 100 shelters and rescues</h2>

    <div class="find-options">
      <div (click)="goToDogAnimalPage()" class="find-option">
        <i class="fi fi-rr-dog" style="margin-top: 10px;font-size: 80px; color: #6504B5"></i>
        <p class="text-options">DOG</p>
      </div>
      <div (click)="goToCatAnimalPage()" class="find-option">
        <i class="fi fi-rr-cat" style="margin-top: 10px;font-size: 80px; color: #6504B5"></i>
        <p class="text-options">CAT</p>
      </div>
      <div (click)="goToAnimalCenterPage()" class="find-option">
        <i class="fi fi-rr-paw-heart" style="margin-top: 10px; font-size: 80px; color: #6504B5"></i>
        <p class="text-options">ANIMAL SHELTERS</p>
      </div>
    </div>
  </div>
</div>
<div class="border">
</div>

<div class="see-animals">
  <h1 *ngIf="showAnimals.length > 0" (click)="goToAnimalsPage()" class="see-animals"> Pets Available for Adoption > </h1>
  <div class="animal-grid">

    <div *ngFor="let animal of showAnimals; let isLast = last" [class]="isLast ? 'animal-card-last' : 'animal-card'">
      <a (click)="navigateToAnimalDetails(animal)">
        <ng-container *ngIf="isLast ; else notLastTemplate">
          <div (click)="goToAnimalsPage()">
            <div class="animal-image">
              <mat-icon class="centered-icon">search</mat-icon>

              <p class="centered-text">300+ pets available on Pawppies </p>
            </div>

            <div class="animal-last">
              <p class="meet-animals-text">MEET THEM</p>
            </div>
          </div>
        </ng-container>
      </a>

      <ng-template #notLastTemplate>
        <button (click)="likeAnimal($event, animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }"
                class="like-button">
          <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <img [src]='animal.animalImages[0].url' class="animal-image">
        <div class="animal-details">
          <p class="animal-name"> {{ animal.name }} </p>
          <p class="animal-other-details"> {{ animal.age }}, {{ animal.breedDetails.name  }} </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="planning-to-adopt">
  <h1> PLANNING TO ADOPT A PET FROM OUR WEBSITE?</h1>

  <div class="cards-about">
    <div class="misssion-class">
      <i class="fas fa-lightbulb" style="color: #6504B5; font-size: 100px;"></i>
      <h3> About Pawppies's mission</h3>
      <p class="about-details"> Read more about our beliefs and mission </p>
      <button (click)="goToMissionPage()" class="more-about" mat-button>Read More</button>
    </div>

    <div class="misssion-class">
      <i class="fas fa-book" style="color: #6504B5; font-size: 100px;"></i>
      <h3> Read FQAs</h3>
      <p class="about-details"> Find answers to your common questions here </p>
      <button (click)="goToFaqs()" class="more-about" mat-button>Read More</button>
    </div>

    <div class="misssion-class">
      <i class="fas fa-envelope" style="color: #6504B5; font-size: 100px"></i>
      <h3> Contact Us </h3>
      <p class="about-details"> Reach out to us for any inquiries </p>
      <button (click)="goToContactPage()" class="more-about" mat-button>Read More</button>
    </div>
  </div>
</div>

<div class="tips-and-food">
  <div class="tips">
    <img class="adopting-image" src="../../../../assets/background-dog-breeds.png">

    <h3 class="tips-title"> Dog Breeds</h3>
    <p> Explore dog breeds to discover your perfect pet</p>
    <hr>
    <button (click)="goToDogBreedPage()" class="tips-button" mat-button>
      <h3 class="learn-more">Learn More</h3></button>
  </div>

  <div class="tips">
    <img class="adopting-image" src="../../../../assets/background-cat-breed.png">

    <h3 class="tips-title">Cat breeds</h3>
    <p> Discover characteristics and traits of various cat breeds </p>
    <hr>
    <button (click)="goToCatBreedsPage()" class="tips-button" mat-button>
      <h3 class="learn-more">Learn More</h3></button>
  </div>
</div>

<div class="recently" *ngIf="user && recentlyViewedAnimals.length > 0">
  <h1 (click)="goToAnimalsPage()" class="recently"> Recently viewed pets </h1>
  <div class="animal-grid">

    <div *ngFor="let animal of recentlyViewedAnimals" class="animal-card">
      <a (click)="navigateToAnimalDetails(animal)">
        <button (click)="likeAnimal($event, animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }"
                class="like-button">
          <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>

        <img [src]='animal.animalImages[0].url' class="animal-image">
        <div class="animal-details">
          <p class="animal-name"> {{ animal.name }} </p>
          <p class="animal-other-details"> {{ animal.age }}, {{ animal.breedDetails.name  }} </p>
        </div>
      </a>
    </div>
  </div>
</div>
