<mat-card *ngIf="user" class="all">
  <mat-card-content>

    <form (ngSubmit)="formSubmit()" class="container">
      <div class="con">

        <header style="align-self: center">
          <h1>Add Animal Center</h1>
        </header>
        <div class="field-set">

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>
              <mat-icon>store</mat-icon>
              Center Name
            </mat-label>
            <input [(ngModel)]="formInput.name" matInput name="name" placeholder="Center Name"/>
            <button (click)="formInput.name=''" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>
              <mat-icon>location_city</mat-icon> <!-- Pentru city/state -->
              Center City,State/Prov
            </mat-label>
            <input [(ngModel)]="formInput.city" matInput name="city" placeholder="Center City,State/Prov"/>
            <button (click)="formInput.name=''" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>


          <!-- Longitude -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>
              <mat-icon>explore</mat-icon>
              Longitude
            </mat-label>
            <input [(ngModel)]="formInput.longitude" matInput name="longitude" placeholder="Longitude"/>
            <button (click)="formInput.longitude=''" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Latitude -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>
              <mat-icon>explore</mat-icon>
              Latitude
            </mat-label>
            <input [(ngModel)]="formInput.latitude" matInput name="latitude" placeholder="Latitude"/>
            <button (click)="formInput.latitude=''" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>
              <mat-icon>perm_contact_calendar</mat-icon> <!-- Pentru contact -->
              Contact
            </mat-label>
            <input [(ngModel)]="formInput.contact" matInput name="contact" placeholder="Contact"/>
            <button (click)="formInput.name=''" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="text-center">
          <button [disabled]="!isFormValid()" mat-raised-button type="submit">
            Add
          </button>
          <button (click)="clearForm()" mat-raised-button type="button">
            Clear
          </button>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
