<mat-card>
  <mat-card-content style="font-family: 'Montserrat', sans-serif;">
    <form (ngSubmit)="save()" class="login-form">
      <h2>Edit Animal Center</h2>

      <!-- Nume -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>business</mat-icon>
          Name
        </mat-label>
        <input [(ngModel)]="editData.name" matInput name="name" placeholder="Enter Animal Center Name" required/>
      </mat-form-field>

      <!-- Oraș -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>location_city</mat-icon>
          City
        </mat-label>
        <input [(ngModel)]="editData.city" matInput name="city" placeholder="Enter Animal Center City" required/>
      </mat-form-field>

      <!-- Country Dropdown -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon>public</mat-icon>
          Country
        </mat-label>
        <mat-select [(ngModel)]="editData.country" name="country" placeholder="Select Country">
          <mat-option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Longitudine -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>place</mat-icon>
          Longitude
        </mat-label>
        <input [(ngModel)]="editData.longitude" matInput name="longitude" placeholder="Enter Animal Center Longitude" required/>
      </mat-form-field>

      <!-- Latitudine -->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>place</mat-icon>
          Latitude
        </mat-label>
        <input [(ngModel)]="editData.latitude" matInput name="latitude" placeholder="Enter Animal Center Latitude" required/>
      </mat-form-field>

<!--      &#45;&#45; Contact-->
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>
          <mat-icon matPrefix>contact_phone</mat-icon>
          Contact
        </mat-label>
        <input [(ngModel)]="editData.contact" matInput
               name="contact" placeholder="Enter Animal Center Contact" required/>
      </mat-form-field>

      <div class="button-container">
        <button mat-button class="button-class confirm-button-class">UPDATE</button>
        <button mat-button class="button-class cancel-button-class">CANCEL</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

