<body>

<div class="container">
  <div class="main-container">

    <div class="content-container">
      <h1>FAQ - Frequently Asked Questions</h1>
      <p>Welcome to our FAQ page! Here you can find answers to some of the most common questions about our pet adoption platform. Whether you're looking to adopt a pet or you're an animal center looking to join our community, we've got you covered.</p>

      <details>
        <summary>How do I adopt a pet from the site?</summary>
        <div class="faq-answer">
          <p>Register as a user, complete the adoption quiz to find your best match, and follow the steps to initiate the adoption process.</p>
        </div>
      </details>

      <details>
        <summary>What criteria can I use to filter pets?</summary>
        <div class="faq-answer">
          <p>You can filter pets by age, size, gender, type (dog/cat), breed, health status, and other special needs or preferences.</p>
        </div>
      </details>

      <details>
        <summary>How do I register my animal center on the platform?</summary>
        <div class="faq-answer">
          <p>To register your animal center, sign up as a supplier, fill in the necessary information about your center, and once verified, you can start adding your animals to the platform.</p>
        </div>
      </details>

      <details>
        <summary>Can I update the information about my animal center or pets?</summary>
        <div class="faq-answer">
          <p>Yes, you can update the information about your animal center and the pets you have listed at any time through your dashboard.</p>
        </div>
      </details>

      <details>
        <summary>Is there a fee to use the site for adoption or listing animals?</summary>
        <div class="faq-answer">
          <p>There is no fee to use the site. Our platform is completely free for both adopters and animal centers to encourage the adoption process and help animals find their forever homes.</p>
        </div>
      </details>

      <details>
        <summary>How can I trust the information provided about the pets?</summary>
        <div class="faq-answer">
          <p>All information about the pets and animal centers is verified by our team to ensure accuracy and reliability. We work closely with each center to maintain updated and comprehensive pet profiles.</p>
        </div>
      </details>

      <details>
        <summary>What should I do if I'm interested in a pet?</summary>
        <div class="faq-answer">
          <p>If you're interested in adopting a pet, you can start the adoption process by clicking the 'Start Adoption Process' button on the pet's profile page. This will guide you through the necessary steps to connect with the animal center.</p>
        </div>
      </details>

      <details>
        <summary>Can I interact with a pet before deciding to adopt?</summary>
        <div class="faq-answer">
          <p>Yes, we encourage potential adopters to interact with pets. You can contact the respective animal center to arrange a visit or inquire about the possibility of a virtual interaction.</p>
        </div>
      </details>

      <details>
        <summary>What happens if the adoption doesn't work out?</summary>
        <div class="faq-answer">
          <p>We aim for successful adoptions, but if there are unforeseen circumstances, we advise contacting the animal center to discuss the best course of action. It's important to ensure a good match for both the pet and the adopter.</p>
        </div>
      </details>

      <details>
        <summary>How do you protect my personal data in accordance with GDPR?</summary>
        <div class="faq-answer">
          <p>We take your privacy and data protection seriously. In compliance with the General Data Protection Regulation (GDPR), we implement stringent security measures to safeguard your personal information. We collect only the necessary data, store it securely, and never share it without your explicit consent. You have the right to access, correct, or delete your personal data at any time. For more detailed information, please refer to our Privacy Policy.</p>
        </div>
      </details>

      <details>
        <summary>How often is Pawppies updated with new pets?</summary>
        <div class="faq-answer">
          <p>Pawppies is continuously updated as animal centers post new pets and update their profiles. We recommend checking back frequently or setting up notifications for new updates that match your preferences.</p>
        </div>
      </details>

      <details>
        <summary>Can I save my search to be notified when new pets are available?</summary>
        <div class="faq-answer">
          <p>Yes, Pawppies offers a feature to save your search criteria. You can receive email notifications when pets matching your preferences become available, ensuring you don't miss out on any potential matches.</p>
        </div>
      </details>

      <details>
        <summary>Is the pet I see on Pawppies still available for adoption?</summary>
        <div class="faq-answer">
          <p>Each animal center is responsible for maintaining the status of their pets. To inquire about a specific pet's availability, please contact the center directly through the information provided on the pet's profile.</p>
        </div>
      </details>

      <details>
        <summary>How do I meet a pet I am interested in on Pawppies?</summary>
        <div class="faq-answer">
          <p>Once you find a pet you're interested in, visit the pet's profile page and use the contact details to inquire about meeting the pet. Each center may have different procedures for meetings and introductions.</p>
        </div>
      </details>

      <details>
        <summary>How is my personal data protected on Pawppies?</summary>
        <div class="faq-answer">
          <p>Your privacy is crucial to us. Pawppies adheres to GDPR guidelines to ensure your personal data is securely protected. We collect only necessary information and provide you with control over your data, including rights to access, modify, or delete as per GDPR standards.</p>
        </div>
      </details>

      <!-- This section provides a direct link for users who have more questions -->
      <p>If you have more questions or need further assistance, please do not hesitate to <a (click)="navigaToContact()"> <b> contact us</b> </a>

    </div>
    <div class="side-container">

      <div class="quiz">
        <img class="quiz-img" src="../../../assets/good_match.png">
        <h2 style="text-align: center; margin-bottom: 0; margin-top: 15px"> Find your best </h2>
        <h2 style="text-align: center; margin-bottom: 10px"> match </h2>
        <p class="text-quiz"> It only takes 60 seconds. </p>
        <button (click)="goToQuizPage()" class="start-quiz-btn" mat-button>GET STARTED</button>
      </div>

      <div class="search-center">
        <form (ngSubmit)="performSearch()" class="search-form">
          <h2>Find Pet-Adoption Centers by:</h2>

          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              City
            </mat-label>
            <input [(ngModel)]="searchData.city" matInput
                   name="email" placeholder="Enter your email"/>
          </mat-form-field>

          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>
              <mat-icon>public</mat-icon>
              Country
            </mat-label>
            <mat-select [(ngModel)]="searchData.country" name="country" placeholder="Select Country">
              <mat-option *ngFor="let country of countries" [value]="country.name">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>
              <mat-icon matPrefix>business</mat-icon>
              Name
            </mat-label>
            <input [(ngModel)]="searchData.name" matInput
                   name="email" placeholder="Enter name"/>
          </mat-form-field>

          <button class="start-quiz-btn" mat-flat-button type="submit">
            SEARCH
          </button>
        </form>
      </div>

    </div>
  </div>
  <div class="see-animals">

    <h1 (click)="goToAnimalsPage()" class="see-animals"> Pets Available for Adoption > </h1>

    <div class="animal-grid">
      <div *ngFor="let animal of showAnimals; let isLast = last" [class]="isLast ? 'animal-card-last' : 'animal-card'">
        <a (click)="navigateToAnimalDetails(animal)">
          <ng-container *ngIf="isLast ; else notLastTemplate">
            <div (click)="goToAnimalsPage()">
              <div class="animal-image">
                <mat-icon class="centered-icon">search</mat-icon>

                <p class="centered-text">300+ pets available on Pawppies </p>
              </div>

              <div class="animal-last">
                <p class="meet-animals-text">MEET THEM</p>
              </div>
            </div>
          </ng-container>
        </a>
        <ng-template #notLastTemplate>
          <button (click)="likeAnimal($event, animal)" *ngIf="user" [ngClass]="{ 'liked': isLiked(animal) }"
                  class="like-button">
            <mat-icon>{{ isLiked(animal) ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>

          <img [src]='animal.animalImages[0].url' class="animal-image">
          <div class="animal-details">
            <p class="animal-name"> {{ animal.name }} </p>
            <p class="animal-other-details"> {{ animal.age }}, {{ animal.breed }} </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
</body>
